### **Data types and structures **

1.What are data structures, and why are they important!

* Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
* why are they important
*Choosing the right data structure significantly impacts the efficiency and performance of your program.
*Well-chosen data structures can:Simplify data manipulation (adding, removing, modifying elements).
*Optimize searching and sorting operations.
*Conserve memory usage.

2 Explain the difference between mutable and immutable data types with examples

* Mutable data type

*Definition:Objects whose contents(value/state)can be changed after creation. *Example: list,dict,se

In [ ]:
#example

In [ ]:
my_list=[1,2,3]
my_list[2]=10
print(my_list)

[1, 2, 10]

* Immutable data type
* Definition: Objects whose contents cannot be changed after creation.Any operation that seems to modify them acually creats a new object.

* Example:int,float,str,tuple

In [ ]:
#example

In [ ]:
string1="hello python"
print(string1)
print(type(string1))

hello python
<class 'str'>

In [ ]:
string1[1]='a'

TypeError: 'str' object does not support item assignment

3.What are the main differences between lists and tuples in Python?

* list is mutable and tuple is immutable

4.Describe how dictionaries store data
* Disctionaries are used to store data values in key:value pairs.

5.Why might you use a set instead of a list in Python?

* Because set automatically remove duplicates,order of items is not preserved,iteam in set must be hashable(like numbers,strings,tuples)

6.What is a string in Python, and how is it different from a list?

*A string in python is ac sequence of characters enclosed in quotes-single,double,or triple.
 Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.).

7.How do tuples ensure data integrity in Python

* Being immutable,which prevents accidental changes.
* beign hashable,so they can be reliably ussed in sets or as dict key
* signaling that the data is fixed and structured,ideal for configuration,coordinates,or setting.

8.What is a hash table, and how does it relate to dictionaries in Python

* A hash table is a data structure that stores key-value pairs and allows fast access to value based on keys.
* A python dictionary is high-level implemention of that concept-it uses hash table internally to store and access data quickly.

9.Can lists contain different data types in Python

* Yes

10. Explain why strings are immutable in Python

* Allow efficient memory ise and caching
* Improve thread safety and security
* make code easier to understand and debug

11.What advantages do dictionaries offer over lists for certain tasks

* Retriveing stored values as it is much simpler to search through a dictionary.

12.Describe a scenario where using a tuple would be preferable over a list

* When we want ro ensure that data is not changed accidentally.
* When we want faster access to data that will not change.
* When we want to use the data as a key in a dictionary.
* When we want to use the data as an element of a set.

13. How do sets handle duplicate values in Python

* The set automatically ignores duplicate value in python.

 14.How does the “in” keyword work differently for lists and dictionaries

 * For list, when you use 'in' with a list, it checks whether the value is present in the list
 * When you use 'in' with a dictionary, it checks whether the key is present.

15.Can you modify the elements of a tuple? Explain why or why not

* No, you cannot modify the elements of a tuole-tuples are immutable.
* why: A tuple is similar to a list,but once its created,its contents cannot  changed.
* This means you can't add,remove,or change individual items in tuple.

16.What is a nested dictionary, and give an example of its use case

* A nested dictionary is a dictionary whithin another dictionary- it lets you store structured data.

In [ ]:
#example

In [ ]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

John
27
Male

17.Describe the time complexity of accessing elements in a dictionary

* The space complexity of a dictionary is O(n), where n is the number of key-value pairs in the dictionary. This is because a dictionary stores each key-value pair as a separate object in memory.

18. In what situations are lists preferred over dictionaries?

* Order matters and you access by position.
* Duplicates are allowed.
* No need for unique keys-just value.
* Less memory is preferred.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

* Dictionaries are concidered unordered because they store data as key-value pairs without maintaining a specific order of insertion.
* Effect on data retrieval:  you can't rely on oreder, access by key only.

20. Explain the difference between a list and a dictionary in terms of data retrieval
* Lists are suitable when the order of element is important and elements are accessed sequentially
* Dictionaries are suitable when quick and efficient data retrieval is neede based on unique identifiers(keys)

# **Practical** **questions**

In [ ]:
#1.Write a code to create a string with your name and print it

In [ ]:
name = "payal"
print(name)

payal

In [ ]:
#2.Write a code to find the length of the string "Hello World"

In [ ]:
string="hello world"
print(len(string))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string
"Python Programming

In [ ]:
string="python programming"
print(string[0:3])

pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase

In [ ]:
string = "hello"
print(string.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string
"I like apple

In [ ]:
string = "I like apple"
new_string = string.replace("apple","orange")
print(new_string)

I like orange

In [ ]:
 #6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple
 ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
my_tuple=(10,20,5,15)
min_number=min(my_tuple)
print(min_number)

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple
 ('dog', 'cat', 'rabbit').

In [ ]:
animals=('dog','cat','rabbit')
index=animals.index('cat')
print(index)

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits
 and check if "kiwi" is in it

In [ ]:
fruits=('apple','banana','orange')
if 'kiwi' in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set={'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1={1,2,3}
set2={3,4,5}
union_set=set1| set2
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
set1={1,2,3}
set2={2,3,4}
intersection_set=set1&set2
print(intersection_set)

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city",
 and print it.

In [ ]:
person={'name':'payal','age':29,'city':'vadodara'}
print(person)

{'name': 'payal', 'age': 29, 'city': 'vadodara'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary
{'name': 'John', 'age': 25}.

In [ ]:
my_dict={'name':'john','age':25}
my_dict['country']='USA'
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in
the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
dictionary = {'name': 'Alice', 'age': 30}
value = dictionary['name']
print(value)

Alice

In [ ]:
#4.Write a code to remove the key "age" from the dictionary {'name': 'Bob',
'age': 22, 'city': 'New York'}.

In [1]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary
{'name': 'Alice', 'city': 'Paris'}.

In [3]:
my_dict = {'name':'Alice','city':'Paris'}
if 'city' in my_dict:
  print("city exists in the dictionary")
else:
  print("city does not exist in the dictionary")

city exists in the dictionary

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [4]:
#create a list
my_list=[1,2,3,"payal"]
#create a tuple
my_tuple=(1,2,3,"payal","cherry")
#create a dictionary
my_dict={'name':'payal','age':29,'city':'vadodara'}
#print all
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 'payal']
(1, 2, 3, 'payal', 'cherry')
{'name': 'payal', 'age': 29, 'city': 'vadodara'}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it
in ascending order, and print theresult.(replaced)

In [5]:
import random
random_numbers = [random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[3, 59, 77, 81, 87]

In [ ]:
#28.Write a code to create a list with strings and print the element at the
third index

In [7]:
my_list=['apple','banana','cherry','date','elderberry']
print(my_list[3])

date

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result.

In [8]:
dict1 = {'a':3,'b':4}
dict2 = {'c':5,'d':6}
dict3 = {**dict1,**dict2}
print(dict3)

{'a': 3, 'b': 4, 'c': 5, 'd': 6}

In [ ]:
#30.Write a code to convert a list of strings into a set.

In [9]:
my_list=['apple','banana','cherry','apple']
my_set=set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}